.header{
  text-align:center;
}
.searchInput{
  width:50%;
  height: 30px;
  border:black solid 2px;
  border-radius:5px;
  display:block;
  margin:auto; 
}

.searchBtn{
  margin-top:5px;
}

img {
  margin: 10px;
  width: 200px;
  height: 250px;
}